body {
  margin: 0;
  padding: 0;
  font-family: "ubuntu";
}

.main-nav {
  padding: 0 0;
}

a.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  text-decoration: none;
  color: orangered;
  font-weight: 700;
}

nav.main-navigation {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1;
  box-shadow: 1px 1px 2px;
}

nav.main-navigation ul.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: right;
}

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 15px;
}

a.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #404040;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
  animation-delay: 0.3s;
}

.nav-list li:nth-child(2) {
  animation-delay: 0.6s;
}

.nav-list li:nth-child(3) {
  animation-delay: 0.9s;
}

.nav-list li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
  animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

h3 {
  text-align: center;
  margin: 2rem 2rem;
}

.info {
  height: 10rem;
  background-color: darkorange;
  text-align: center;
  padding-top: 4rem;
}

.topper {
  height: 1px;
  background-color: orangered;
}
.bumper {
  padding: 0 1rem;
  height: 2rem;
  background-color: orangered;
}
.bumper p {
  margin-bottom: 0;
}

.phone-img {
  height: 400px;
  width: 500px;
  border-radius: 10%;
  margin: 2rem 4rem 2rem;
  box-shadow: 10px 10px 10px lightblue;
}

.appText {
  margin: 5rem 0;
}

.applink {
  height: 70px;
  margin: 0 1rem;
}

.section {
  margin-top: 2rem;
}
.fa.social {
  font-weight: bold;
}

.fa:hover,
.applink:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.fa-youtube {
  color: #bb0000;
}

.fa-instagram {
  color: purple;
}

.card-img-top {
  height: 200px;
  width: max-content;
  margin: 1rem 1rem;
}

.scrollBtn {
  position: fixed;
  font-size: 2rem;
  top: 90%;
  left: 90%;
  z-index: 1;
  display: none;
}

.visible {
  display: inline;
}

.invisible {
  display: none;
}

.carousel img {
  max-height: 450px;
  margin-top: 45px;
}
